* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark: #181818dd;
  --white: #fdfdfd;
  --red: #f9004d;
  --roxo: #986dff;
  --verde: #a6fc98;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 3px;
}

header,
main,
aside,
footer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background: #828282;
}

main,
footer {
  flex: 1 1 100vw;
}

.labelListas {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 20%);
  overflow: scroll;
  margin: 3px auto;
  border: 3px solid #000;
}

#listas {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 20%);
  height: 250px;
  overflow: scroll;
  margin: 3px auto;
  border: 3px solid #000;
}

#h1, #invalido, .h1 {
  width: calc(100%);
  text-align: center;
}

.labelListas .el {
  background: #303030;
  color: var(--white);
  margin: 8px;
}

.el li{
  font-size: 12px;
}

.el p {
  margin: 6px;
}

.ul, .ul li {
  margin: 0;
  padding: 0;
}

/* Mobile */
@media screen and (max-width: 800px) {
  
}
/* Device */
@media screen and (min-width: 800px) {
  
}
